<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image.user.email %>
</p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @image.image_data %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<% if policy(@image).update? %>  
  <%= link_to 'Edit', edit_image_path(@image) %> |
<% end %>

<%= link_to 'Back', images_path %>
